node_modules/

predict.py
AiRoutes.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Environment variables
.env

# Models & Scalers
housemodel.joblib
scaler.joblib